{% extends 'blog/base.html' %}
{% block content %}
<h1>Hello, World!</h1>
<br>
<h5> Nice to see you on my Blog App which was developed as a
    portfolio application using Django Framework. It implements following features:
</h5>
<br>
<br>
<dl class="row">
    <br>
        <dt class="col-sm-3 text-truncate"> Posts </dt>
        <dd class="col-sm-9">Supports all CRUD (Create, Read, Update and Delete) functions. Provides links to individual post's page and author page where all posts of a certain author are collected.</dd>
    <br>
    <br>
        <dt class="col-sm-3">Pagination</dt>
        <dd class="col-sm-9">Post's list is paginated. </dd>
    <br>
    <br>
        <dt class="col-sm-3">Registration form</dt>
        <dd class="col-sm-9">You can register entering username and email.</dd>
    <br>
    <br>
        <dt class="col-sm-3">Login / Logout </dt>
        <dd class="col-sm-9">As standard features for  apps of this type.</dd>
    <br>
    <br>
        <dt class="col-sm-3">Profile page</dt>
        <dd class="col-sm-9">Here you can view and update personal data and set a profile image. </dd>
    <br>
    <br>
        <dt class="col-sm-3">Password reset</dt>
        <dd class="col-sm-9">Password reset are to be made via sending a link you a user email.</dd>
</dl>
<br>
<br>


<h6> Yours sincerely,</h6>
</h6> Viktoriia A.</h6>
{% endblock %}
